<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mifunctiontest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b06523b7-fc6b-4ba2-b05a-af3105a4cc66/resourcegroups/eastus2-fxs-victor-snbx-3914263-rg/providers/Microsoft.Web/sites/MIFunctionTest</ResourceId>
    <UserName>$MIFunctionTest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mifunctiontest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>